<%= form_tag "/client/products/#{@product['id']}", method: :patch do %>
  <div>
    Title: <input type="text" name="input_name" value="<%= @product['title'] %>">
  </div>
  <div>
    Author: <input type="text" name="input_author" value="<%= @product['author'] %>">
  </div>
  <div>
    Price: <input type="text" name="input_price" value="<%= @product['price'] %>">
  </div>
  <div>
    Description: <input type="text" name="input_description" value="<%= @product['description'] %>">
  </div>
  <div>
    Format: <input type="text" name="input_format" value="<%= @product['format'] %>">
  </div>
  <div>
    Condition: <input type="text" name="input_condition" value="<%= @product['condition'] %>">
  </div>
  <div>
    Image URL: <input type="text" name="input_image_url" value="<%= @product['image_url'] %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
<% end %>

<%= form_tag "/client/products/#{@product['id']}", method: :delete do %>
<input type="submit" value="Remove this Book from the Store">
<% end %>

<%= button_to "Cancel", "/client/products", method: :get %>