<%= button_to "Add a Book to the Store", "/client/products/new", method: :get %>
<hr>
<%= form_tag "/client/products", method: :get do %>
  <div>
    <input type="text" name="search">
  </div>
  Search by:
  <div>
    <input type="radio" name="search_type" value="title" checked>Title<br>
    <input type="radio" name="search_type" value="author">Author
  </div>
  <div>
    <input type="checkbox" name="sort_by" value="price">Click here to sort by price
  </div>
  <div>
    <input type="submit" value="Search">
  </div>
<% end %>

<% @products.each do |book| %>
  <p>Title: <a href="/client/products/<%= book['id'] %>"><%= book['title'] %><a></p>
  <p>Author: <%= book['author'] %></p>
  <p>Price: <%= book['price'] %></p>
  <p>Format: <%= book['format'] %></p>
  <p>Condition: <%= book['condition'] %></p>
  <hr>
<% end %>