<%= button_to "Add a Book to the Store", "/client/products/new", method: :get %>

<% @products.each do |book| %>
  <p>Title: <a href="/client/products/<%= book['book']['id'] %>"><%= book['book']['name'] %><a></p>
  <p>Author: <%= book['book']['author'] %></p>
  <p>Price: <%= book['book']['price'] %></p>
  <p>Format: <%= book['book']['format'] %></p>
  <p>Condition: <%= book['book']['condition'] %></p>
  <hr>
<% end %>