<a href="/client/products/new">Add a Book to the Store</a>

<% @products.each do |book| %>
  <p>title: <a href="/client/products/<%= book['book']['id'] %>"><%= book['book']['name'] %><a></p>
  <p>author: <%= book['book']['author'] %></p>
  <p>price: <%= book['book']['price'] %></p>
  <p>format: <%= book['book']['format'] %></p>
  <p>condition: <%= book['book']['condition'] %></p>
  <hr>
<% end %>