<p>id: <%= @product['book']['id'] %></p>
<p>name: <%= @product['book']['name'] %></p>
<p>author: <%= @product['book']['author'] %></p>
<p>price: <%= @product['book']['price'] %></p>
<p>format: <%= @product['book']['format'] %></p>
<p>condition: <%= @product['book']['condition'] %></p>