<p>Title: <%= @product['title'] %></p>
<p>Author: <%= @product['author'] %></p>
<h4><%= @product['discount_message'] %></h4>
<p>Price: <%= @product['price'] %></p>
<p>Price with Tax: <%= @product['total'] %> (Tax: <%= @product['tax'] %>)</p>
<p>Format: <%= @product['format'] %></p>
<p>Condition: <%= @product['condition'] %></p>

<%= form_tag "/client/products/#{params[:id]}/edit", method: :get do %>
  <input type="submit" value="Edit this Book">
<% end %>

<%= form_tag "/client/products", method: :get do %>
  <input type="submit" value="Return Home">
<% end %>