<p>Title: <%= @product['book']['name'] %></p>
<p>Author: <%= @product['book']['author'] %></p>
<p>Price: <%= @product['book']['price'] %></p>
<p>Format: <%= @product['book']['format'] %></p>
<p>Condition: <%= @product['book']['condition'] %></p>

<%= form_tag "/client/products/#{params[:id]}/edit", method: :get do %>
  <input type="submit" value="Edit this Book">
<% end %>

<%= form_tag "/client/products", method: :get do %>
  <input type="submit" value="Return Home">
<% end %>